# Credit Risk Analysis

## Description

### Guideline:

#### 1. Data Load
#### 2. EDA
#### 3. Introduction
#### 4. Introduction
#### 5. Introduction
#### 6. Introduction
#### 7. Introduction

1. Introduction

- Info's about datasets
2. Librarys

- Importing Librarys
- Importing Dataset
3. Knowning the data

- 3.1 Looking the Type of Data
- 3.2 Shape of data
- 3.3 Null Numbers
- 3.4 Unique values
- 3.5 The first rows of our dataset
4. Exploring some Variables

- 4.1 Ploting some graphical and descriptive informations
5. Correlation of data

- 5.1 Correlation Data
6. Preprocess

- 6.1 Importing Librarys
- 6.2 Setting X and Y
- 6.3 Spliting the X and Y in train and test 
7. 1 Model 1

- 7.1.1 Random Forest 
- 7.1.2 Score values
- 7.1.3 Cross Validation 
7. 2 Model 2

- 7.2.1 Logistic Regression 
- 7.2.2 Score values
- 7.2.3 Cross Validation 
- 7.2.4 ROC Curve

### 1. Data Load

In [37]:
# Import required libraries
import pandas as pd


# Read dataset
# The database is split in 5 files. All of them will be read and appended in a single dataframe.

data_url = "https://drive.google.com/file/d/1j_woVIKiP5Fz41wIhTv7mQnuJvf7NV9T/view?usp=drive_link"
inital_url = "https://drive.google.com/uc?id="
data_url = inital_url + data_url.split('/')[-2]
df1 = pd.read_csv(data_url, dtype=str)

data_url = "https://drive.google.com/file/d/1RwzzU-E5Df2QNIB5suVcjQShmJVTFYUC/view?usp=drive_link"
inital_url = "https://drive.google.com/uc?id="
data_url = inital_url + data_url.split('/')[-2]
df2 = pd.read_csv(data_url, dtype=str)

data_url = "https://drive.google.com/file/d/1bQuzUgkc9k7vlN-4lTShfLUxhLr92mny/view?usp=drive_link"
inital_url = "https://drive.google.com/uc?id="
data_url = inital_url + data_url.split('/')[-2]
df3 = pd.read_csv(data_url, dtype=str)

data_url = "https://drive.google.com/file/d/1TVc644HqsW9Y6jqIO1rusiFMDDy6xGMV/view?usp=drive_link"
inital_url = "https://drive.google.com/uc?id="
data_url = inital_url + data_url.split('/')[-2]
df4 = pd.read_csv(data_url, dtype=str)

data_url = "https://drive.google.com/file/d/1Z2n9FKy16QrQVG0mie_FGt4yOylHjVUs/view?usp=drive_link"
inital_url = "https://drive.google.com/uc?id="
data_url = inital_url + data_url.split('/')[-2]
df5 = pd.read_csv(data_url, dtype=str)


# Concatenate the DataFrames without including headers as rows
df = pd.concat([df1.iloc[1:], df2.iloc[1:], df3.iloc[1:], df4.iloc[1:], df5.iloc[1:]], ignore_index=True)

# Reset the index of the combined DataFrame
df.reset_index(drop=True, inplace=True)
del df1, df2, df3, df4, df5

### 2. EDA

In [41]:
df.head(15)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077430,1314167,2500.0,2500,2500,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077175,1313524,2400.0,2400,2400,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1076863,1277178,10000.0,10000,10000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1075358,1311748,3000.0,3000,3000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075269,1311441,5000.0,5000,5000,36 months,7.9,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1069639,1304742,7000.0,7000,7000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1072053,1288686,3000.0,3000,3000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1071795,1306957,5600.0,5600,5600,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1071570,1306721,5375.0,5375,5350,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1070078,1305201,6500.0,6500,6500,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1069908,1305008,12000.0,12000,12000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1064687,1298717,9000.0,9000,9000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1069866,1304956,3000.0,3000,3000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069057,1303503,10000.0,10000,10000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1069759,1304871,1000.0,1000,1000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887374 entries, 0 to 887373
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887374 non-null  object
 1   member_id                    887374 non-null  object
 2   loan_amnt                    887374 non-null  object
 3   funded_amnt                  887374 non-null  object
 4   funded_amnt_inv              887374 non-null  object
 5   term                         887374 non-null  object
 6   int_rate                     887374 non-null  object
 7   installment                  887374 non-null  object
 8   grade                        887374 non-null  object
 9   sub_grade                    887374 non-null  object
 10  emp_title                    835913 non-null  object
 11  emp_length                   842549 non-null  object
 12  home_ownership               887374 non-null  object
 13  annual_inc                   887370 non-null  object
 14  verification_status          887374 non-null  object
 15  issue_d                      887374 non-null  object
 16  loan_status                  887374 non-null  object
 17  pymnt_plan                   887374 non-null  object
 18  url                          887374 non-null  object
 19  desc                         126026 non-null  object
 20  purpose                      887374 non-null  object
 21  title                        887222 non-null  object
 22  zip_code                     887374 non-null  object
 23  addr_state                   887374 non-null  object
 24  dti                          887374 non-null  object
 25  delinq_2yrs                  887345 non-null  object
 26  earliest_cr_line             887345 non-null  object
 27  inq_last_6mths               887345 non-null  object
 28  mths_since_last_delinq       433064 non-null  object
 29  mths_since_last_record       137053 non-null  object
 30  open_acc                     887345 non-null  object
 31  pub_rec                      887345 non-null  object
 32  revol_bal                    887374 non-null  object
 33  revol_util                   886872 non-null  object
 34  total_acc                    887345 non-null  object
 35  initial_list_status          887374 non-null  object
 36  out_prncp                    887374 non-null  object
 37  out_prncp_inv                887374 non-null  object
 38  total_pymnt                  887374 non-null  object
 39  total_pymnt_inv              887374 non-null  object
 40  total_rec_prncp              887374 non-null  object
 41  total_rec_int                887374 non-null  object
 42  total_rec_late_fee           887374 non-null  object
 43  recoveries                   887374 non-null  object
 44  collection_recovery_fee      887374 non-null  object
 45  last_pymnt_d                 869715 non-null  object
 46  last_pymnt_amnt              887374 non-null  object
 47  next_pymnt_d                 634405 non-null  object
 48  last_credit_pull_d           887321 non-null  object
 49  collections_12_mths_ex_med   887229 non-null  object
 50  mths_since_last_major_derog  221702 non-null  object
 51  policy_code                  887374 non-null  object
 52  application_type             887374 non-null  object
 53  annual_inc_joint             511 non-null     object
 54  dti_joint                    509 non-null     object
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887345 non-null  object
 57  tot_coll_amt                 817099 non-null  object
 58  tot_cur_bal                  817099 non-null  object
 59  open_acc_6m                  21372 non-null   object
 60  open_il_6m                   21372 non-null   object
 61  open_il_12m                  21372 non-null   object
 62  open_il_24m                  21372 non-null   object
 63  mths_since_rcnt_il           20810 non-null   object
 64  total_bal_il                 21372 non-null   object
 65  il_util                      18617 non-null   object
 66  open_rv_12m                  21372 non-null   object
 67  open_rv_24m                  21372 non-null   object
 68  max_bal_bc                   21372 non-null   object
 69  all_util                     21372 non-null   object
 70  total_rev_hi_lim             817099 non-null  object
 71  inq_fi                       21372 non-null   object
 72  total_cu_tl                  21372 non-null   object
 73  inq_last_12m                 21372 non-null   object
dtypes: object(74)
memory usage: 501.0+ MB

In [40]:
columnstoeliminate = ['id','member_id','grade','verification_status','issue_d','url','desc','title','zip_code',
                      'earliest_cr_line','inq_last_6mths','mths_since_last_delinq','mths_since_last_record','revol_bal',
                      'revol_util','open_acc','initial_list_status','out_prncp','out_prncp_inv','total_pymnt',
                      'total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries',
                      'collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d','last_credit_pull_d',
                      'collections_12_mths_ex_med','mths_since_last_major_derog','policy_code']

numericalcolumns = ['loan_amnt','funded_amnt','funded_amnt_inv','int_rate','installment','annual_inc','dti','delinq_2yrs','total_acc','pub_rec']
categoricalcolumns = ['term','sub_grade','emp_title','emp_length','home_ownership','loan_status','pymnt_plan','purpose','addr_state']




# emp_length revisar y eliminar los nas
# loan_status limpiar categorias para dejar solo pagados y default.



df['loan_amnt'] = df['loan_amnt'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887374 entries, 0 to 887373
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887374 non-null  object
 1   member_id                    887374 non-null  object
 2   loan_amnt                    887374 non-null  float64
 3   funded_amnt                  887374 non-null  object
 4   funded_amnt_inv              887374 non-null  object
 5   term                         887374 non-null  object
 6   int_rate                     887374 non-null  object
 7   installment                  887374 non-null  object
 8   grade                        887374 non-null  object
 9   sub_grade                    887374 non-null  object
 10  emp_title                    835913 non-null  object
 11  emp_length                   842549 non-null  object
 12  home_ownership               887374 non-null  object
 13  annual_inc                   887370 non-null  object
 14  verification_status          887374 non-null  object
 15  issue_d                      887374 non-null  object
 16  loan_status                  887374 non-null  object
 17  pymnt_plan                   887374 non-null  object
 18  url                          887374 non-null  object
 19  desc                         126026 non-null  object
 20  purpose                      887374 non-null  object
 21  title                        887222 non-null  object
 22  zip_code                     887374 non-null  object
 23  addr_state                   887374 non-null  object
 24  dti                          887374 non-null  object
 25  delinq_2yrs                  887345 non-null  object
 26  earliest_cr_line             887345 non-null  object
 27  inq_last_6mths               887345 non-null  object
 28  mths_since_last_delinq       433064 non-null  object
 29  mths_since_last_record       137053 non-null  object
 30  open_acc                     887345 non-null  object
 31  pub_rec                      887345 non-null  object
 32  revol_bal                    887374 non-null  object
 33  revol_util                   886872 non-null  object
 34  total_acc                    887345 non-null  object
 35  initial_list_status          887374 non-null  object
 36  out_prncp                    887374 non-null  object
 37  out_prncp_inv                887374 non-null  object
 38  total_pymnt                  887374 non-null  object
 39  total_pymnt_inv              887374 non-null  object
 40  total_rec_prncp              887374 non-null  object
 41  total_rec_int                887374 non-null  object
 42  total_rec_late_fee           887374 non-null  object
 43  recoveries                   887374 non-null  object
 44  collection_recovery_fee      887374 non-null  object
 45  last_pymnt_d                 869715 non-null  object
 46  last_pymnt_amnt              887374 non-null  object
 47  next_pymnt_d                 634405 non-null  object
 48  last_credit_pull_d           887321 non-null  object
 49  collections_12_mths_ex_med   887229 non-null  object
 50  mths_since_last_major_derog  221702 non-null  object
 51  policy_code                  887374 non-null  object
 52  application_type             887374 non-null  object
 53  annual_inc_joint             511 non-null     object
 54  dti_joint                    509 non-null     object
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887345 non-null  object
 57  tot_coll_amt                 817099 non-null  object
 58  tot_cur_bal                  817099 non-null  object
 59  open_acc_6m                  21372 non-null   object
 60  open_il_6m                   21372 non-null   object
 61  open_il_12m                  21372 non-null   object
 62  open_il_24m                  21372 non-null   object
 63  mths_since_rcnt_il           20810 non-null   object
 64  total_bal_il                 21372 non-null   object
 65  il_util                      18617 non-null   object
 66  open_rv_12m                  21372 non-null   object
 67  open_rv_24m                  21372 non-null   object
 68  max_bal_bc                   21372 non-null   object
 69  all_util                     21372 non-null   object
 70  total_rev_hi_lim             817099 non-null  object
 71  inq_fi                       21372 non-null   object
 72  total_cu_tl                  21372 non-null   object
 73  inq_last_12m                 21372 non-null   object
dtypes: float64(1), object(73)
memory usage: 501.0+ MB